.diagram-page {
  padding-bottom: 50px;
  margin-top: 45px;
}

.logo_title {
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-top: 20px;
}

.logo_title {
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-top: 20px;
}

.diagram-nav__right-block {
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.diagram-container {
  width: 91vw;
  margin: auto;
}

.diagram-container__content-block {
  width: 100%;
  margin-top: 3vw;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.diagram-card:hover {
  outline: 2px solid #244a56;
}

.diagram-card {
  width: 230px;
  box-shadow: 10px 8px 27px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-top: 30px;
  padding-bottom: 28px;
  background: rgba(118, 186, 207, 0.15);
}

.diagram-card > h3 {
  height: 60px;
  font-size: 48px;
  font-weight: 600;
  font-family: 'Anek Devanagari';
  color: rgba(36, 74, 86, 1);
  margin-bottom: 15px;
}

.diagram-card > h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Anek Devanagari';
  color: rgba(36, 74, 86, 1);
}

.diagram__parent-block {
  background: rgba(118, 186, 207, 0.15);
  box-shadow: 7px 7px 38px rgba(0, 0, 0, 0.35);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.diagram__child-block {
  padding: 55px 150px 0 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.chart-block {
  position: relative;
  width: 440px;
  height: 440px;
}

.chart-white-block {
  position: absolute;
  background: #fff;
  top: 31%;
  left: 29.8%;
  width: 175px;
  height: 175px;
  border-radius: 100px;
}

.diagram-info-block {
  width: 464px;
  margin-top: 10px;
}

.diagram-info-title1 {
  font-size: 48px;
  font-weight: 500;
  font-family: 'Anek Devanagari';
  margin-bottom: 9px;
}
.diagram-info-title2 {
  display: none;
}

.diagram-info-block > ul {
  margin-right: 10px;
}

.diagram-info-block > ul > li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.element {
  font-size: 24px;
  font-family: 'Quicksand';
  font-weight: 600;
}

.price {
  width: 35px;
  text-align: left;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 24px;
  color: rgba(36, 74, 86, 1);
}

.food {
  color: rgb(186, 19, 26);
}

.education {
  color: rgb(222, 86, 92);
}

.healt {
  color: rgb(255, 114, 120);
}

.tranportation {
  color: rgb(255, 164, 167);
}

.beauty {
  color: rgb(206, 132, 135);
}

.food2 {
  color: rgb(141, 89, 91);
}

.plus-btn {
  margin-left: 93%;
}
@media all and (max-width: 1050px) {
  .diagram__child-block {
    padding: 0;

    flex-direction: column;
    justify-content: center;
  }

  .diagram-info-title1 {
    display: none;
  }

  .diagram-info-title2 {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Anek Devanagari';
    margin-bottom: 9px;
  }

  .chart-block {
    margin: auto;
  }
  .diagram-info-block {
    padding-top: 50px;
    margin: auto;
  }
}

@media all and (max-width: 600px) {
  .diagram__child-block {
    padding-top: 50px;
  }
  .diagram__parent-block {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
}
@media all and (max-width: 490px) {
  .diagram-info-block {
    width: 90vw;
  }
  .line {
    width: 90vw;
    border-bottom: 2px solid rgba(36, 74, 86, 0.6);
    box-shadow: 0px 0px 5px #244a56;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 460px) {
  .element {
    font-size: 20px;
  }
  .price {
    width: 20px;
    font-size: 19px;
  }
  .chart-white-block {
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
  }
  .chart-block {
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 460px) {
  .diagram-info-title2 {
    font-size: 40px;
  }
  .chart-white-block {
    width: 120px;
    height: 120px;
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
  }
}

@media all and (max-width: 350px) {
  .chart-block {
    height: 40vh;
  }
  .diagram-info-title2 {
    font-size: 35px;
  }
}
