.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerHome {
  display: flex;
  justify-content: center;
}

.home_img {
  height: 100vh;
}
.home_img_mobile {
  display: none;
}

.block_right {
  /* margin-left: 100px; */
  margin-top: 100px;
}
.block_right h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 105px;
  color: #244a56;
  width: 550px;
}

.block_right h4 {
  font-weight: 500;
  font-family: sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #244a56;
  margin-left: 3px;
  margin-bottom: 6.1vw;
}

.block_right button {
  color: white;
  font-size: 40px;
  width: 415px;
  font-family: monospace;
  height: 90px;
  background: #ba131a;
  border-radius: 48px;
  border: none;
  margin-left: 3vw;
  cursor: pointer;
}
@media all and (max-width: 1040px) {
  .block_right {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .block_right h4 {
    margin-top: 10px;
    font-size: 23px;
  }
  .block_right h2 {
    width: 400px;
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 50px;
  }
  .block_right button {
    width: 300px;
    height: 90px;
  }
  .home_img {
    display: none;
  }
  .home_img_mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    height: 40%;
  }
}
@media all and (max-width: 650px) {
  .block_right button {
    width: 270px;
    height: 70px;
  }
}
@media all and (max-width: 400px) {
  .logo {
    display: none;
  }
  .containerHome {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: start;
  }
  .block_right h4 {
    font-size: 15px;
  }
  .block_right h2 {
    width: 233px;
    letter-spacing: 1px;
    font-size: 23px;
    line-height: 38px;
  }
  .block_right button {
    position: absolute;
    top: 40%;
    left: 18vw;

    height: 60px;
    width: 200px;
  }
}
