.containerHome {
  background: url(../img/two.png) no-repeat;
  background-size: 50% 100%;
  background-position-x: 8%;
  background-position-y: 100%;
  height: 57vw;
}

.logo-block-home {
  width: 150px;
  margin: 40px 0 18vw 65px;
  display: flex;
  justify-content: space-between;
}

.block_left img {
  position: absolute;
  height: 95%;
}

.block_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 60vw;
  margin-top: 20vh;
}

.block_right h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 105px;
  width: 582px;
  color: #244a56;
}

.block_right h4 {
  font-weight: 500;
  font-family: sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #244a56;
  margin-left: 3px;
  margin-bottom: 6.1vw;
}

.block_right button {
  color: white;
  font-size: 40px;
  width: 415px;
  font-family: monospace;
  height: 90px;
  background: #ba131a;
  border-radius: 48px;
  border: none;
  margin-left: 6vw;
}
@media all and (max-width: 1250px) {
  .home_block {
    flex-direction: column;
  }

  .block_right {
    display: flex;
    justify-content: center;
  }
  .mobile_home {
    display: block;
  }
  .home_block {
    justify-content: center;
  }
}

@media all and (max-width: 400px) {
  .home_block {
  }
}
