* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.active {
  border: 1px solid #244a56;
  border-radius: 30px;
}

.add {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(245.28deg, #76bacf 0.9%, #ffffff 74.38%);
}
