.login-page {
  width: 100%;
  height: 1024px;
  display: flex;
  justify-content: space-between;
}

.block__left-login {
  padding: 2.4vw 4.5vw;
}

.logo_text-login {
  font-family: "Anek Devanagari";
  font-weight: 500;
  font-size: 32px;
  margin-top: 9px;
  color: #244a56;
}

.logo__block-login {
  width: 16.2vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.2vw;
}

.login-title {
  font-family: "Anek Devanagari";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  color: #244a56;
  margin-left: 8.5vw;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.2vw;
  width: 31.2vw;
  margin: 0 0 0 30px;
  padding: 10%;
}

.login-inp {
  padding: 15px;
  background: rgba(36, 74, 86, 0.1);
  border: 1px solid #244a56;
  border-radius: 20px;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 24px;
  color: rgba(36, 74, 86, 0.7);
}

.login-inp:nth-child(3) {
  margin-bottom: 35px;
}

.login-btn {
  width: 400px;
  height: 80px;
  border: none;
  background: #244a56;
  border-radius: 57px;
  font-family: "Anek Devanagari";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  padding: 18px 15px 0 0;
  margin: 0 auto;
  outline: #244a56;
  cursor: pointer;
}

.account-text {
  font-weight: 600;
  font-size: 16px;
  margin: auto;
}

.create-link {
  font-weight: 700;
  margin-left: 3px;
}

.block__right-login {
  width: 49vw;
  background: linear-gradient(
      21.36deg,
      rgba(255, 255, 255, 0.54) 17.62%,
      rgba(93, 154, 173, 0.54) 100%
    ),
    url(../img/login-page/decor-img.png) 100% 100% no-repeat;
  padding: 200px 0 0;
}

.welcome-title {
  font-family: "Anek Devanagari";
  font-weight: 600;
  font-size: 64px;
  line-height: 109px;
  margin-left: 137px;
  margin-bottom: 25px;
  color: #244a56;
}

.welcome-desc {
  font-family: "Anek Devanagari";
  font-weight: 500;
  font-size: 36px;
  margin-left: 137px;
  color: #244a56;
}
