.modal-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 20vh;
  background: url("../img/mail.png") 100% 100% no-repeat,
    linear-gradient(245.28deg, #76bacf -92.1%, #ffffff 110.38%);
}

.mail-title {
  font-family: "Anek Devanagari";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 109px;
  color: #244a56;
  text-align: center;
  padding-top: 124px;
}

.mail-inp {
  width: 450px;
  height: 60px;
  background: rgba(36, 74, 86, 0.1);
  border: 1px solid #244a56;
  border-radius: 20px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: rgba(36, 74, 86, 0.7);
  padding-left: 32px;
}

.send-btn {
  width: 160px;
  height: 40px;
  background: #244a56;
  border-radius: 52px;
  border: 0;
  margin-top: 32px;
  font-family: "Anek Devanagari";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 41px;
  color: #ffffff;
  cursor: pointer;
}
