.register-title {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 109px;
  color: #244a56;
}

.register-page {
  width: 100%;
  height: 1024px;
  display: flex;
}

.block-left {
  width: 40vw;
  background: linear-gradient(
      21.36deg,
      rgba(255, 255, 255, 0.54) 17.62%,
      rgba(93, 154, 173, 0.54) 100%
    ),
    url(../img/circle.png) 0% 100% no-repeat;
  padding: 35px 65px;
}

.block-right {
  margin-left: 9.8vw;
  margin-top: 12.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__block {
  width: 170px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8.7vw;
  cursor: pointer;
}

.logo_text {
  font-family: "Anek Devanagari";
  font-weight: 500;
  font-size: 24px;
  line-height: 41px;
  color: #244a56;
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vw;
}

.block-left__title {
  font-family: "Anek Devanagari";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 1.7vw;
  color: #244a56;
}

.block-left__desc {
  font-family: "Anek Devanagari";
  width: 444px;
  font-weight: 500;
  font-size: 36px;
  color: #244a56;
}

.register-title {
  margin: 0 1vw 2.2vw 0;
}

.inputs-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  gap: 30px;
}

.register-inp {
  height: 30px;
  border: 1px solid #244a56;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 15px 15px 45px;
  color: rgba(36, 74, 86, 0.7);
}

.username-inp {
  background: url("../img/icons/name-icon.svg") 10px 15px no-repeat,
    rgba(36, 74, 86, 0.1);
}

.email-inp {
  background: url("../img/icons/mail-icon.svg") 10px 17px no-repeat,
    rgba(36, 74, 86, 0.1);
}
.password-inp {
  background: url("../img/icons/pass-icon.svg") 10px 17px no-repeat,
    rgba(36, 74, 86, 0.1);
}

.register-btn {
  cursor: pointer;
  width: 400px;
  height: 81px;
  background: #244a56;
  border: none;
  border-radius: 55px;
  font-family: "Anek Devanagari";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  margin: 2px auto 15px;
  transition: 0.4s;
}

.register-btn:hover {
  box-shadow: 0 20px 30px -20px black;
  transition: 0.4s;
}

.pass-contain {
  font-family: "Anek Devanagari";
  font-size: 14px;
  color: #e75459;
  padding-left: 20px;
}

.login-link,
.login-text {
  font-family: "Anek Devanagari";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #244a56;
}

.login-link {
  margin-left: 10px;
  cursor: pointer;
}

.login-text {
  font-weight: 400;
}

@media (max-width: 1185px) {
  .block-right {
    margin-left: 5vw;
  }
}

@media (max-width: 1080px) {
  .block-right {
    margin-left: 3vw;
  }
  .block-left__title {
    font-size: 58px;
    margin-left: 0;
  }
  .block-left__desc {
    margin-left: 0;
    font-size: 32px;
    max-width: 380px;
  }
  .inputs-block {
    max-width: 380px;
  }
  .register-title {
    font-size: 58px;
  }
  .register-btn {
    max-width: 380px;
    font-size: 35px;
    height: 75px;
  }
  .pass-contain {
    font-size: 12px;
  }
}

@media (max-width: 920px) {
  .block-left__title {
    font-size: 48px;
  }
  .block-left__desc {
    font-size: 30px;
  }
  .inputs-block {
    max-width: 320px;
  }
  .register-btn {
    max-width: 320px;
    font-size: 30px;
    height: 70px;
  }
  .register-title {
    font-size: 48px;
  }
  .login-text,
  .login-link {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .register-page {
    display: block;
  }
  .block-left {
    display: none;
  }
  .inputs-block {
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .inputs-block,
  .register-btn {
    max-width: 308px;
    padding: 0 5px;
  }
  .register-inp {
    font-size: 20px;
  }
  .register-title {
    font-size: 42px;
  }
  .pass-contain {
    font-size: 11px;
  }
}
