.restore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 800px;
  height: 500px;
  background: url('../img/restore-img.png') 100% 0 no-repeat,
    linear-gradient(245.28deg, #76bacf -92.1%, #ffffff 110.38%);
  margin: 0 auto;
  margin-top: 20vh;
}

.restore-title {
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 109px;
  color: #244a56;
  padding-top: 15px;
}

.restore-inp {
  width: 450px;
  height: 60px;
  border: 1px solid #244a56;
  border-radius: 20px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding-left: 45px;
  color: rgba(36, 74, 86, 0.7);
}

.code-inp {
  background: url('../img/icons/code-icon.svg') 10px 15px no-repeat,
    rgba(36, 74, 86, 0.1);
}

.new-pass-inp {
  background: url('../img/icons/pass-icon.svg') 10px 15px no-repeat,
    rgba(36, 74, 86, 0.1);
}

.restore-btn {
  width: 160px;
  height: 40px;
  background: #244a56;
  border: none;
  border-radius: 52px;
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

@media (max-width: 650px) {
  .restore-page {
    margin: 2%;
    width: 100%;
    background: rgba(36, 74, 86, 0);
  }
}

@media (max-width: 520px) {
  .restore-page {
    align-items: flex-start;
  }
  .restore-inp {
    font-size: 20px;
  }
  .restore-title {
    font-size: 58px;
  }
}

@media (max-width: 410px) {
  .restore-inp {
    width: 310px;
    padding: 20px 0px 20px 45px;
    font-size: 15px;
  }
  .restore-title {
    font-size: 45px;
  }
}
