.containerHome {
  display: flex;
  justify-content: center;
}
.home_block {
  width: 90vw;

  display: flex;
  justify-content: space-between;
}

.block_left img {
  position: absolute;
  /* bottom: 0; */
  height: 95%;
}
.block_right {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 150px 20px 20px 20px;
}

.block_right h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 109px;
  width: 582px;
  color: #244a56;
}
.block_right h4 {
  font-weight: 100;
  font-family: sans-serif;
  font-style: normal;
  margin-top: -50px;
  font-size: 30px;
  color: #244a56;
  padding-left: 4px;
}
.block_right button {
  color: white;
  font-size: 40px;
  width: 369px;
  font-family: monospace;
  height: 75px;
  background: #ba131a;
  border-radius: 48px;
  border: none;
}
@media all and (max-width: 1250px) {
  .home_block {
    flex-direction: column;
  }
  .block_right {
    margin-top: 600px;
  }
}
