* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.active {
  background: rgb(68, 68, 68);
  border-radius: 30px;
}

.active>.info_block {
  box-shadow: 7px 8px 18px -3px #ee352b;
}

.active>div>h3 {
  color: bisque;
}

.active>div>p {
  color: bisque;
}

.add {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(245.28deg, #76bacf 0.9%, #ffffff 74.38%);

}

.active img {
  background: url("./img/vector1new.svg") no-repeat;
}